.projects{
    margin-top: 30px;

    .project{
        margin-bottom: 30px;
        // this set cards to same height on grid
        align-items: stretch;
        display: flex;

        .image{
            height: 200px;
            background-color: grey;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        a{
            button{
                width: 100%;
                text-transform: uppercase;
            }
        }
        // This fix the card footer on bottom
        .card{
            &-body{
                display: flex;
                flex-direction: column;
            }
            .tools{
                margin-bottom: auto;
            }
            &-title{
                font-size: 22px;
            }
            &-subtitle{
                font-size: 18px;
                margin-bottom: auto;
            }
            &-footer{
                margin-top: auto;
            }
        }
    }
}

.chip{
    white-space:nowrap;
    background-color: #0098d3;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    line-height: 2;
    margin: 3px;
    margin-bottom: 3px;
    padding: 5px;
    
}