@import '../../scss/breakpoints';

.list-skills, .list-skills__neon{
    .skill{
        
        .skill-img{
            margin-top: 5px;
            border: 1px;
            border-radius: 9px !important;
            width: 75px;
            height: 75px;
        }

    }

}
