@import '../scss/colors';
@import '../scss/typographys';

html {
    scroll-behavior: smooth;
    body{
        font-family: 'Inconsolata', monospace;
    }
}

.bg{

    background-color: $white;

    &__neon{

       background-color: $bg-dark;

    }
}
