
// Standar theme
$white: #fff;
$bg-blue: #0098d3;
$border-shadow-dark: rgba(0, 0, 0, 0.7);
$text-dark-black: #212121;
$text-light-black: #a2a2a2;

// The neon theme
$bg-dark: #141321;
$text-light-cyan: #a9fef7;
$text-dark-cyan: #a9d2d4;
$bg-pink: #d5358f;
$pink-light: #fa62b9;
$border-shadow-pink: rgba(213, 53, 143, 0.5);